body {
	background-color: #dee8f7;
	font-family: sans-serif;
}

.container {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

form div {
	margin-bottom: 1em;
}

button {
	padding: .5em;
	width: 70px;
}

#temp-btn {
	
}

.description {
	margin-bottom: .3em;
}

#temp-display {
	border: 1px solid black;
	min-height: 100px;
	padding-bottom: 1em;
}